body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c71b1b;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://th.bing.com/th/id/OIP.r3PY839z4objWIL0f_BNsgHaE8?w=275&h=184&c=7&r=0&o=5&dpr=1.3&pid=1.7');

}

/* Header Navigation Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #727098;
    color: white;
    flex-wrap: wrap;
}
.logo {
  width: 150px; /* Adjust width as needed */
  height: 50px;
  background-image: url('http://tse2.mm.bing.net/th?id=OIG3.qVZJa4Z3crih2Yg6YM5Y&pid=ImgGn'); /* Path to your logo */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Slider Box */
.slider-container {
    justify-content: center;
    height: 300px;
    width: 400px;
    max-width: 800px;
    
    margin: 50px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(116, 189, 218);
}

.image-slider {
    position: relative;
    width: 80%;
    height:80%;
    

}
.image-slider img {
    position: absolute;
    width: 130%;
    height: 100%;
    object-fit: cover;
    top: -100%; /* Start off-screen at the top */
    opacity: 0;
    transition: top 5s ease-in-out, opacity 1s ease-in-out;
}

/* Dots below the images */
.dots-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    
}

.dot.active {
    background-color: #727098;
}
